.equixtoken {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
}
.equixtokenParent,
.mainContent,
.resetPassword {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.equixtokenParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-83xl);
  max-width: 100%;
}
.mainContent,
.resetPassword {
  box-sizing: border-box;
}
.mainContent {
  width: 428px;
  flex-direction: column;
  padding: var(--padding-25xl) 0 0;
  min-width: 428px;
  max-width: 100%;
}
.resetPassword {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 0 var(--padding-116xl);
  gap: var(--gap-179xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1125px) {
  .mainContent {
    flex: 1;
  }
  .resetPassword {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .equixtoken {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
}
@media screen and (max-width: 750px) {
  .mainContent {
    padding-top: var(--padding-10xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .resetPassword {
    gap: var(--gap-80xl);
  }
}
@media screen and (max-width: 450px) {
  .equixtoken {
    font-size: var(--body-copy-b4-medium-size);
    line-height: 20px;
  }
  .equixtokenParent {
    gap: var(--gap-32xl);
  }
  .resetPassword {
    gap: var(--gap-30xl);
  }
}
