.assetImageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.live {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 23px;
}
.assetTagContainer,
.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag {
  backdrop-filter: blur(12px);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-1400);
  padding: var(--padding-9xs);
  z-index: 2;
}
.assetTagContainer {
  align-self: stretch;
}
.activeDot,
.dot,
.inactiveDot {
  height: 4px;
  width: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-400);
}
.activeDot,
.dot {
  background-color: var(--color-goldenrod-200);
}
.dot {
  background-color: var(--color-gainsboro-400);
}
.autoLayoutHorizontal {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.assetCard,
.autoLayoutHorizontal,
.slideIndicator {
  display: flex;
  justify-content: flex-start;
}
.slideIndicator {
  backdrop-filter: blur(12px);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-1400);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-9xs);
  z-index: 2;
}
.assetCard {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-10xl) var(--padding-63xl) 16.5px var(--padding-13xl);
  position: relative;
  gap: var(--gap-36xl);
}
.bungalow {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  min-width: 77px;
}
.locationIcon {
  height: 12px;
  width: 12px;
  position: relative;
  object-fit: contain;
}
.leedsCityCenter {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 78px;
}
.autoLayoutHorizontal1,
.autoLayoutVertical1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.autoLayoutHorizontal1 {
  flex-direction: row;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-1600);
}
.autoLayoutVertical1 {
  flex-direction: column;
}
.div {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  min-width: 74px;
  white-space: nowrap;
}
.autoLayoutVertical {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.asset,
.assetDetails,
.autoLayoutVertical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.assetDetails {
  align-self: stretch;
  border-radius: var(--br-xl) var(--br-xl) var(--br-11xl) var(--br-11xl);
  background-color: var(--light-black);
  border: 1px solid var(--cards-transparent-stroke);
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-13xl) var(--padding-5xs);
  margin-top: -16.5px;
  font-size: var(--font-size-sm);
}
.asset {
  flex: 1;
  flex-direction: column;
  min-width: 76px;
  text-align: left;
  font-size: var(--body-copy-b1-regular-size);
  color: var(--absolute-white);
  font-family: var(--font-manrope);
}
