.cardRectangleChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cardRectangle {
  width: 393px;
  height: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 208px;
  max-width: 124%;
  flex-shrink: 0;
}
.div {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 600;
  white-space: nowrap;
}
.estValue7250 {
  width: 129px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  right: 0.3px;
  line-height: 24px;
  color: var(--shades-grey);
  text-align: right;
  display: none;
  z-index: 1;
}
.semiDetachedHouse,
.southfieldRoadOxford {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.semiDetachedHouse {
  font-weight: 600;
  color: var(--color-goldenrod-200);
}
.southfieldRoadOxford {
  color: var(--color-gray-1000);
}
.information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.bedIcon,
.div1,
.information {
  position: relative;
}
.bedIcon {
  height: 24px;
  width: 24px;
}
.div1 {
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.bed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.bathubIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.div2 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 8px;
}
.bathroom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.chairsIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.semiFurnished {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 100px;
}
.furniture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.features,
.infoFeatures {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.features {
  border-radius: var(--br-xs);
  background-color: var(--shades-black);
  border: 1px solid var(--light-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--absolute-white);
}
.infoFeatures {
  border-radius: var(--br-11xl);
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-base);
  gap: var(--gap-base);
}
.carouselsIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.forSale {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.propertyCard,
.tags {
  border-radius: var(--br-11xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tags {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  left: 0;
  background-color: var(--shades-off-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-9xs);
  gap: var(--gap-9xs);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--body-copy-b1-regular-size);
  color: var(--shades-black);
}
.propertyCard {
  box-shadow: var(--card-shadow-amb2);
  background-color: var(--light-black);
  border: 1px solid var(--light-gold-linear);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-sm);
  position: relative;
  gap: var(--gap-base);
  min-width: 300px;
  min-height: 380px;
  max-height: 484px;
  flex-shrink: 0;
}
.cards {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  gap: var(--gap-12xl);
  grid-template-columns: repeat(3, minmax(239px, 1fr));
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-aliceblue-100);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1050px) {
  .cards {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(239px, 415px));
  }
}
@media screen and (max-width: 750px) {
  .cards {
    gap: var(--gap-mini);
    grid-template-columns: minmax(239px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .div {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .features {
    flex-wrap: wrap;
  }
}
