.resetPassword {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 700;
  font-family: inherit;
}
.enterYourEmail,
.resetLink {
  margin: 0;
}
.enterYourEmailContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-slategray-100);
}
.emailInstruction {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-xs);
}
.email {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
}
.frameChild {
  height: 56px;
  width: 428px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--color-orange);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.enterYourEmail1 {
  width: 119px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: var(--buttongrad);
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-slategray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.envelopeIcon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.emailField,
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleParent {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--color-orange);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-2xl) var(--padding-smi)
    var(--padding-5xl);
  gap: var(--gap-xl);
}
.emailField {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--dark);
}
.frameItem {
  height: 56px;
  width: 428px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-goldenrod-300);
  display: none;
  max-width: 100%;
}
.sendPasswordReset {
  width: 202px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-manrope);
  color: var(--color-gray-900);
  text-align: center;
  z-index: 1;
}
.emailInstructionParent,
.rectangleGroup {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-goldenrod-300);
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.rectangleGroup:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.emailInstructionParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--tailgrids-black-color);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1050px) {
  .resetPassword {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
}
@media screen and (max-width: 450px) {
  .resetPassword {
    font-size: var(--font-size-xl);
    line-height: 27px;
  }
}
