.background {
  height: 90px;
  width: 713px;
  border-radius: var(--br-12xs);
  background-color: var(--light-black);
  border: 1px solid var(--absolute-white);
  max-width: 100%;
}
.background,
.background1,
.borderbot {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.borderbot {
  height: 1px;
  width: 713px;
  border-radius: var(--br-12xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--color-goldenrod-500);
  max-width: 100%;
}
.background1 {
  height: 63px;
  width: 63px;
  border-radius: var(--br-sm);
  border: 4px solid var(--color-goldenrod-400);
}
.vectorIcon {
  height: 24px;
  width: 11.6px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.icBuy {
  flex: 1;
  border-radius: var(--br-sm);
  border: 4px solid var(--color-goldenrod-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl);
  z-index: 1;
}
.topup {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.icBuyParent,
.topupWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.icBuyParent {
  width: 187px;
  flex-direction: row;
  padding: 0 var(--padding-37xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.am {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.amWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.div {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) 0 0;
}
.completed {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.completedWrapper,
.row02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  text-align: right;
  color: var(--color-limegreen-200);
}
.row02 {
  align-self: stretch;
  border-radius: var(--br-12xs);
  background-color: var(--light-black);
  border: 1px solid var(--absolute-white);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-26xl) var(--padding-xs)
    var(--padding-11xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--absolute-white);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 800px) {
  .row02 {
    flex-wrap: wrap;
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
