.bg {
  width: 262px;
  height: 161px;
  position: relative;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--light-black);
  display: none;
}
.totalOrder1,
.typeSeparator {
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.totalOrder1 {
  font-weight: 600;
  color: inherit;
  mix-blend-mode: normal;
}
.typeSeparator {
  font-size: var(--font-size-9xl);
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--absolute-white);
  display: inline-block;
  min-width: 87px;
}
.orderTypeLabels {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 90px;
}
.icon {
  height: 60px;
  width: 60px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.orderTypeLabelsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.icTrendingUp24px {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.upFromPast {
  color: var(--absolute-white);
}
.upFromPastContainer {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.icTrendingUp24pxParent,
.totalOrder,
.trendLabels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trendLabels {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.icTrendingUp24pxParent,
.totalOrder {
  flex-direction: row;
  gap: var(--gap-5xs);
  color: var(--color-lightseagreen);
}
.totalOrder {
  flex: 0.8779;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--light-black);
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  min-width: 196px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-1500);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 450px) {
  .typeSeparator {
    font-size: var(--font-size-3xl);
  }
  .orderTypeLabelsParent {
    flex-wrap: wrap;
  }
  .totalOrder {
    flex: 1;
  }
}
